html {
  background-color: #f8f2ec;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}

.page {
  max-width: 900px;
  margin: auto;
  padding-bottom: 10vh;
  text-transform: uppercase;
}

.page-title {
  margin: 0;
}
.page-title img {
  max-width: 100%;
}

.game {
  border-bottom: 1px solid #3f5173;
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-bottom: 2vh;
}

.game-description,
.game-help,
.credits {
  width: 100%;
  text-align: center;
}

.game-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 10vh 0;
}

.game-download {
  display: none;
  margin: 1vh auto;
  max-width: 100%;
  width: 550px;
}

.game-download img {
  width: 100%;
}

#game {
  max-width: 100%;
  min-height: 20vh;
  margin: auto;
  width: 550px;
}

.game-help {
  align-self: flex-start;
  margin: auto;
  width: auto;
}

.game-help-title {
  display: block;
  margin-bottom: 1vh;
}

.game-help-key {
  display: inline-block;
  width: 20px;
}

.credits {
  margin-top: 2vh;
  font-size: 80%;
}

#offline-resources {
  display: none;
}

.video {
  padding: 10vh 0;
  text-align: center;
}

.video iframe {
  margin: auto;
  max-width: 90%;
}

.social {
  text-align: center;
}

.quickDownload {
  margin-bottom: 3vh;
}
